// colors
$bg-primary: #ebebeb;
$black: #000;
$gray: #ccc;
$dark-gray: gray;
$white: #fff;

.col-white { color: $white;}
.col-black { color: $black;}
.bg-black { background-color: $black;}
// breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// padding
$p1: 1rem;
$p2: 2rem;
$p3: 3rem;
$p5: 7rem;
.pa-1 {
    padding: $p1;
}
.pa-2 {
    padding: $p2;
}
.pr-2 {
    padding-right: $p2;
}
.pt-2 {
    padding-top: $p2;
}
.pl-2 {
    padding-left: $p2;
}
.pb-2 {
    padding-bottom: $p2;
}
.pa-3 {
    padding: $p3;
}
.pr-3 {
    padding-right: $p3;
}
.pt-3 {
    padding-top: $p3;
}
.pt-5 {
    padding-top: $p5;
}
.pl-3 {
    padding-left: $p3;
}
.pb-3 {
    padding-bottom: $p3;
}
.pb-5 {
    padding-bottom: $p5;
}
// margin
.mr-0 {
    margin-right: 0 !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mt-2 {
    margin-top: 2rem !important;
}
/* FONT */
h1 {
    font-size: 7rem;
    line-height: 6rem;
    font-weight: bold;
    @media screen and (max-width: $md){
        font-size: 6rem;
    }
}
h5, a {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}